@import url('font.css');
@import url('teamup.css');
@import url('rules.css');
h1 {
    font-family: 'Nunito', sans-serif !important;
}

p, input {
    /*font-family: 'Varela Round', sans-serif;*/
}

tbody {
    position: relative;
    padding: 1rem;
    margin: 1rem -1rem;
    border: solid #f7f7f9;
}

footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
