@import url('font.css');
@import url('intro.css');
@import url('teamup.css');
@import url('teaminfo.css');
@import url('rules.css');
@import url('loader.css');
@import url('toggle.css');
h1 {
    font-family: 'Nunito', sans-serif !important;
}

tbody {
    position: relative;
    padding: 1rem;
    margin: 1rem -1rem;
    border: solid #f7f7f9;
}

tbody th {
    text-align: center;
}

thead {
    background-color: #eceeef;
}

thead th {
    text-align: center;
}

td {
    text-align: center;
}

input {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 2px 7px;
}
