@-webkit-keyframes bounceRight {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateX(-20px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
}

.select-player {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
}

.select-player span {
    margin: 0 5px 0 0;
    font-size: 18px;
    color: #f0ad4e;
    -webkit-animation: bounceRight 2s infinite ease-in-out;
}

.select-inning {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
}

.select-inning span {
    margin: 0 5px 0 0;
    font-size: 18px;
    color: #f0ad4e;
    -webkit-animation: bounceRight 2s infinite ease-in-out;
}

.selector label {
    margin: 0 5px 0 0;
}

@-webkit-keyframes bounceUp {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
}

.build-player-output {
    text-align: center;
}

.build-player-btn {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.build-player-btn span {
    width: 150px;
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #f0ad4e;
    -webkit-animation: bounceUp 2s infinite ease-in-out;
}

.build-player-btn button {
    width: 150px;
}

.build-final-form-output {
    text-align: right;
    margin: 0 0 8px 0;
}

.origin-form.print-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.origin-form.print-btn span {
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #f0ad4e;
    -webkit-animation: bounceUp 2s infinite ease-in-out;
}

.origin-form.print-btn button {
    width: 150px;
}

.build-page-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 8px 0px;
}

.build-page-header a {
    content: none;
}

.build-print-output {
    text-align: right;
    margin: 0 0 8px 0;
}

.final-form.print-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.final-form.print-btn span {
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #f0ad4e;
    -webkit-animation: bounceUp 2s infinite ease-in-out;
}

.final-form.print-btn button {
    width: 150px;
}


/*#rotator {
    height: 100px;
    width: 100px;
}*/

.blockquote-footer cite {
    margin: 0 3px;
}
